.circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30mm;
    width: 30mm;
    border: 2px solid black;
    border-radius: 50%;
}

img {
    width: 70.7%;
    height: 70.7%;
    object-fit: contain;
}