<div class="card amiibo-detail">
  <img class="card-img-top" [src]="amiibo.image"/>
  <dl class="row amiibo-details">
    <dt class="col-sm-3">Name</dt>
    <dd class="col-sm-9">{{ amiibo.name }}</dd>
    <dt class="col-sm-3">Character</dt>
    <dd class="col-sm-9">{{ amiibo.character }}</dd>
    <dt class="col-sm-3">Game Series</dt>
    <dd class="col-sm-9">{{ amiibo.gameSeries }}</dd>
    <dt class="col-sm-3">Amiibo Series</dt>
    <dd class="col-sm-9">{{ amiibo.amiiboSeries }}</dd>
    <ng-template [ngIf]="amiibo.release">
    <dt class="col-sm-3">Release Date (NA)</dt>
    <dd class="col-sm-9">{{ amiibo.release.na }}</dd>
    </ng-template>
    <dt class="col-sm-3">Type</dt>
    <dd class="col-sm-9">{{ amiibo.type }}</dd>
  </dl>
</div>